/files_private
/log
/profiling
/web/sites/default/files
/tests/results/behat/*.xml
/tests/results/simpletest/*.xml
/tests/results/lims/*.xml
/tests/results/screenshots
/tests/features/bootstrap/drupalContext
/tmp
/piwik/
/web/piwik
/*.sublime-project
/*.sublime-workspace
/ssl
/versiondumps/*.sql
/versiondumps/*.mysql
/web/test
/web/sites/all/files/learning_content
/web/sites/all/libraries/mpdf/ttfontdata
/.idea
/vendor
/html
/.vagrant
/composer.phar
/web/umfrage
/limesurvey
/tests/codeception/tests/_output
/tests/codeception/tests/acceptance.suite.yml
/tests/codeception/tests/api.suite.yml
/tests/codeception/tests/unit.suite.yml
/tests/codeception/tests/_support/_generated
/tests/codeception/tests/_bootstrap.local.php
/umfrage
/web/.htaccess
./insert_blanko_dump.sh
./scripts/database.mysql
/stats
