.pagination > li > a, .pagination > li > span {
  padding: 1.3em;
}

.pagination {
  display: flex;
  justify-content: center;

  .pager-first,
  .pager-ellipsis,
  .pager-last {
    display: none;
  }
}
