/* Import */
@import "../../../../themes/salto2014/less/variables.less";

.notifications-dropdown {
  li {
    color: #000;
  }

  .notifications-content {
    width: 280px;
    text-align: left;
    padding: 4px;
    word-break: break-all;

    .view-notifications {
      word-wrap: break-word;
    }

    .views-row {
      border-bottom: 1px solid #eee;
      margin-bottom: 0.2em;
    }
  }

  li > span,
  li > div {
    padding: 4px;
  }

  .notifications-actions {
    display: none;
  }

  .notifications-all a,
  .notifications-settings a {
    color: #9b9b9b;
  }
}

.entity-message {
  .user-picture {
    float: left;
    padding: 0.5em;
    margin-right: 0.4em;

    img {
      min-width: 30px;
      min-height: 30px;
    }
  }

  &.message-unread {
    a.message-link {
      font-weight: bold;
      word-break: normal;
      display: block;
      padding-left: 0;
      padding-bottom: 0.5em;
      float: left;
      width: 75%;
    }
  }

  .message-content-preview {
    word-break: normal;
    display: block;
    float: left;
    padding: 0 0 10px;
    margin-left: 48px;
    clear: both;
    width: 100%;
    box-sizing: content-box;
  }

  .message-links {
    margin-left: 44px;
  }
}

.subscriptions_view,
.pane-node-flag-notification-subscribe-node,
.file {
  .flag-wrapper.notification_subscribe_node,
  .flag-wrapper.notification_subscribe_material {

    a {
      color: @dosb-grey;
    }

    &.flag-notification-subscribe-node a:before,
    &.flag-notification-subscribe-material a:before {
      font-family: "fontello";
      content: '\e810';
      margin-right: 5px;
    }

    a.unflag-action:before {
      font-family: "fontello";
      content: '\e839';
      margin-right: 5px;
    }

  }

  .flag-wrapper.flag-notification-ignore-material,
  .flag-wrapper.flag-notification-ignore-post {

    a {
      color: @dosb-grey;
    }

    a.flag-action:before {
      font-family: "fontello";
      content: '\e839';
      margin-right: 5px;
    }

    a.unflag-action:before {
      font-family: "fontello";
      content: '\e810';
      margin-right: 5px;
    }

  }
}

.file,
.subscriptions_view{
  .flag-outer{
    .action-link,
    .flag-notification-subscribe-node,
    .flag-notification-subscribe-material,
    .flag-notification-ignore-post{
      a,
      .flagged {
        font-size: 12px;
        display: inline-flex;
        width: fit-content;
        padding: 10px 25px 10px 10px;
        color: #fff !important;
        font-weight: @font-weight-bold;
        text-decoration: none !important;
        background: @brand-primary;
        text-align: left !important;
        margin: 5px 10px 5px 0;
        box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.15);
        border-radius: 50px;
      }

      .flagged {
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
      }
      .action-unflag a {
        border-top-left-radius: unset;
        border-bottom-left-radius: unset;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
      }

      a:hover{
        background: lighten(@dosb-orange, 10%);
      }

      .action-unflag a, .action-unflag a:hover{
        margin-left: -20px;
        background-image: linear-gradient(#ffffff 60%, rgba(255, 255, 255, 0) 0%);
        background-size: 2px 34px;
        background-position-y: 8px;
        background-repeat: repeat-y;
      }

      a.action{
        box-shadow: none;
      }

      a:before,
      a:after,
      div.status:before {
        font-family: "fontello";
        width: 22px;
        font-size: 12px;
        margin-left: 12px;
      }

      a:before {
        content: '\e810';
      }

      div.flagged.status:before {
        content: '\e815';
      }

      a.unflag-action {
        box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.15);
      }

      a.unflag-action:before {
        left: 5px;
        position: relative;
      }

    }
  }
  .flag-notification-ignore-post a{
    border-top-right-radius: 50px  !important;
    border-bottom-right-radius: 50px !important;
  }



/*
 .flag-outer {
  color: #fff;

  a,
  .action-link {
    margin-left: 5px;
    border-right: none;
    border-radius: 50px;
    display: block;
    width: 50%;
    padding: 8px 12px;
    color: #fff !important;
    font-weight: 700;
    text-decoration: none !important;
    border: none;
    text-align: left !important;
    margin-bottom: 1px;
    background: @dosb-orange;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.15);
  }

  .action-link:hover{
    background: lighten(@dosb-orange, 10%);
  }

  a:before,
  a:after,
  div.status:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 22px;
    font-size: 16px;
    position: relative;
    top: 1px;
  }

  a:before {
    content: '\e810';
  }

  a:hover {
    background: lighten(@dosb-orange, 10%);
    color: #fff
  }

  .action-link .status {
    color: #fff;
    font-weight: 700;
    text-decoration: none !important;
  }

  .action-link {
    cursor: pointer;



    .action-unflag {
      position: absolute;
      top: 0;
      right: -8px;
    }

    .tooltip {
      font-weight: normal;
    }

    a.unflag-action {
      border: 0;
      border-top-left-radius: unset;
      border-bottom-left-radius: unset;
      box-shadow: 3px 3px 2px -4px rgba(0, 0, 0, 0.15);
      border-left: solid;

    }



    a.unflag-action:before {
      left: 5px;
      position: relative;
    }

    div.flagged.status:before {
      content: '\e815';
    }
  }
}*/

}

.view-id-notifications {
&.view-display-id-panel_pane_1 {
  .field-name-message-flags,
  ul.links {
    float: left;
    padding-left: 8px;

    a {
      color: #9b9b9b;
    }

  }
}
}

.view-display-id-ajax_callback_unread {
.message-links {
  display: none;
}
}
